:root {
    --primary-color: #007bff;
    --secondary-color: #007bff;
    --background-color: #f5f5f5;
    --card-background-color: #ffffff;
    --text-color: #333333;
    --subtle-text-color: #5a5a5a;
    --error-color: #ff0000;
    --heading-font: 'Arial', sans-serif;
    --text-font: 'Arial', sans-serif;
    --border-radius: 20px; /* Erhöhung des Border-Radius für abgerundete Ecken */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --property-box-background: #e8e8e8;
}

body {
    font-family: var(--text-font);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: #e9ecef;
}

.vaccine-card {
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 10px;
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.vaccine-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.01);
}

.vaccine-card-properties {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2px;
    padding: 10px;
    background: var(--property-box-background);
    font-size: 0.7em;
}

.vaccine-card-properties div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vaccine-card-properties .property-name {
    justify-content: flex-start;
    padding-right: 3px;
}

.vaccine-card-properties .property-value {
    justify-content: flex-end;
    padding-left: 3px;
}

.disease {
    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
    font-family: var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.icon-button {
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.icon-button:hover {
    background-color: var(--button-hover-color);
}

.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.form-input-container .form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
}

.form-input-container .form-field label {
    text-align: left;
    margin-right: 3em;
}

.form-input-container .form-field input {

    width: 140px;
}
.back-button-form {
    position: absolute;
    left: -150px;
    top: -10px;
}

.editmode-card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
}
.edit-button-expanded{
    padding-top: 15px;
}